<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Redpers</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <header>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24"
        viewBox="0 -960 960 960"
        width="24"
      >
        <path
          d="M160-269.231v-40h640v40H160ZM160-460v-40h640v40H160Zm0-190.769v-40h640v40H160Z"
        ></path>
      </svg>
      <a href="/"
        ><img src="\assets\RedPers_Logo_Cmyk_Black.webp" alt="RedPers Logo"
      /></a>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24"
        viewBox="0 -960 960 960"
        width="24"
      >
        <path
          d="M779.385-153.846 528.923-404.307q-30 25.538-69 39.538-39 14-78.385 14-96.1 0-162.665-66.529-66.566-66.529-66.566-162.577t66.529-162.702q66.529-66.654 162.577-66.654 96.049 0 162.702 66.565Q610.769-676.101 610.769-580q0 41.692-14.769 80.692-14.769 39-38.769 66.693l250.462 250.461-28.308 28.308ZM381.538-390.769q79.616 0 134.423-54.808Q570.769-500.385 570.769-580q0-79.615-54.808-134.423-54.807-54.808-134.423-54.808-79.615 0-134.423 54.808Q192.308-659.615 192.308-580q0 79.615 54.807 134.423 54.808 54.808 134.423 54.808Z"
        ></path>
      </svg>
    </header>

    <ul class="navigation">
      <li><a href="/category">Binnenland</a></li>
      <li><a href="/category">Buitenland</a></li>
      <li><a href="/category">Columns</a></li>
      <li><a href="/category">Economie</a></li>
      <li><a href="/category">Kunst & Media</a></li>
      <li><a href="/category">Podcast</a></li>
      <li><a href="/category">Politiek</a></li>
      <li><a href="/category">Wetenschap</a></li>
    </ul>
  </body>
</html>
